.form {
  font-family: "Acme", sans-serif;
  padding: 20px;
  color: orange;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

label {
  display: flex;
  gap: 20px;
}

.radio {
  display: flex;
  gap: 20px;
}

.form__title {
  font-size: 2em;
}

.form__answers {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 300px));
  gap: 20px;
  justify-content: center;
  padding: 20px;
  align-items: stretch;
}

.form__submit {
  max-width: 150px;
  padding: 10px;
  border: 1px solid orange;
  background: green;
  font-size: 20px;
}
