.sfx__wrapper {
  font-family: "Acme", sans-serif;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  letter-spacing: 0.02rem;
  font-size: 1.2rem;
}
.sfx__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 100px));
  gap: 30px;
  justify-content: center;
  padding: 20px;
  border: 2px solid orange;
  border-radius: 20px;
  max-height: 500px;
  max-width: 500px;
}

.sfx__image {
  width: 70px;
  height: 70px;
}

.active {
  box-shadow: 2px 2px 4px 3px rgba(41, 206, 95, 1);
}

.sfx__button {
  cursor: pointer;
  width: 70px;
  height: 70px;
  border-radius: 10px;
  background-color: transparent;
  overflow: hidden;
  border: 2px solid greenyellow;
  &:last-child {
    grid-column: 1/4;
  }
}
